*{
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none;
}

body{

	background: #bfbfbf url('../images/background.jpg')  repeat-x;
	font-family: Arial, sans-serif;
}


header{
	/*30px haut et bas et 0px sur la cotés*/
	padding: 32px 0;

}

header h1{
	font-size: 45px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
	font-family: Limelight, sans-serif;
}

/*
	Style du main-menu
*/

#main-menu ul{
	width: 980px;
	height: 500px;
	margin: 0 auto;
	padding-top: 135px;
}

#main-menu ul li{
	float: left;
	width: 140px;
	height: 500px;
	overflow: hidden;
	position: relative;
}

/*Style pour les bloc bw (noir sur blanc photos*/

.bw{
	position: absolute;
	left: 0px;
	width: 140px;
	height: 500px;
	cursor: pointer;
	background: url('../images/monAlbumc.png');
	opacity: 0.7;
}

.color{
	position: absolute;	
	left: 140px;
	width: 140px;
	height: 500px;
	cursor: pointer;
	background: url('../images/monAlbum.png');

}

/*pour afficher mes autres images je deplace juste le background sur les autres parties*/

#part2 div{
	background-position: -140px 0px;
}

#part3 div{
	background-position: -280px 0px;
}

#part4 div{
	background-position: -420px 0px;
}

#part5 div{
	background-position: -560px 0px;
}

/*Style des descriptions */
.description{
	position: absolute;	
	left: 140px;
	width: 240px;
	height:460px;
	padding: 20px;
	background: #fff;	
	position: absolute;
}

.description h2{
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
	color: #333;
	font-family: 'Limelight', sans-serif;
	/*text-transform: uppercase;*/
}

.description h3{
	margin-top: 30px;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	color: #fff;
	background: #d70000;
	/*text-shadow: 1px 1px 1px #000;*/
	border-radius: 5px;
	font-family: 'Lobster', sans-serif;
}


.description p{
	padding-top: 35px;
	font-size: 22px;
	color: #000;
	text-align: center;
	font-family: 'Lobster', sans-serif;
}

/*Section des boutons menu*/
.buttons-menu{
	float: left;
	width: 100%;
	padding: 160px 0 50px 0;
}

.buttons-menu ul{
	float: left;
	position:relative;
	left: 50%;
	text-align: center;
}

.button{
	float: left;
	width: 150px;
	margin-left: 30px;
	padding: 10px 0;
	position: relative;
	right: 50%;
	text-shadow: 1px 1px 1px #000;
	font-family: 'Lobster', sans-serif;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.75);
	background: #222;
	border: 2px solid #b70000;
	font-size: 15px;
	cursor:pointer;

}


.hovered{
	
	background: #b70000;
	border: 2px solid #333;
	font-size: 20px;

}